.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
}

.info {
  align-items: end;
  margin-left: 4px;
  flex: 1;
  transition: opacity 0.3s;
}

.info:active {
  opacity: 0.8;
}
