.wrap {
  margin-top: 80px;
  margin-bottom: 80px;
}
.dark {
  --bg: #161616;
  --text-color: #f3f4f5;
  --btn-color: #f3f4f5;
  --filter-to-white: invert(100%);
  @media print {
    --text-color: #161616;
    --btn-color: #161616;
  }
}
@media print {
  .wrap {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .wrap {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .wrap {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
