.name {
  position: relative;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4px;
  flex-direction: column-reverse;
}

.mobLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

@media print {
  .mobLine {
    display: none;
  }
}

.posLine {
  display: flex;
  align-items: baseline;
}

.location {
  margin-left: 4px;
  margin-right: 4px;
}
.locationContent {
  opacity: 0.6;
  margin-right: 8px;
}

.position {
  margin-top: 0;
}

.text {
  margin-top: 40px;
  margin-bottom: 40px;
}
.text span {
  margin-right: 4px;
}
